<% color_backgrounds = ["#1ABC9C", "#34495E", "#F1C40F", "#3498DB", "#E74C3C", "#ECF0F1", "#2ECC71"] %>
<% color_foregrounds = ["#1ABC9C"] %>
<% count = 0 %>
<% @users.each do |user| %>
   <div class="col-lg-3 col-md-3 portfolio-item" style='background-color:<%= color_backgrounds[count] %>;color:white;border-radius:5px;margin:0 0px;height:300px'>
    <a href="#project-one"><img class="img-responsive" src="<%= user.image %>" style="height:134px;width:170px;border-radius:5px;margin:30px 0 20px 30px"></a>
    <h3><a href="#project-one"><%= user.first_name %> <%= user.last_name %></a></h3>
    <p><%= user.description %></p>
    <% user.courses.each do |course| %>
      <span class="label label-default"><%= link_to course.title, course_path(course) %></span>
    <% end %>
  </div>
  <% count += 1 %>
<% end  %>

