<div class="profile-page"> <!-- page container -->

  <div class="user-banner" style="background:#7ca1e8">

  </div>

  <div class="user-row">
    <div class="container">
      <div class="row bar-height-lock">

        <div class="col col-lg-2 col-offset-1">
          <div class="prof-pic-holder">
            <img alt="Def 160" src="<%= current_user.image %>" />
          </div>
        </div>

        <div class="col col-lg-4">
          <div class="full-name">
            <%= current_user.first_name %>
            <%= current_user.last_name %>
          </div>

          <div class="mini-bio">
            <%= current_user.description %>
          </div>

          <div class="social-links">
            <i class="wic-twitter" href="<%= current_user.twitter_profile %>"></i>
            <i class="wic-facebook-squared" href="<%= current_user.facebook_profile %>"></i>
          </div>
          
        </div>

        <div class="col col-lg-2">
          <form action="/profile" class="button_to" method="get"><div>
          <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-primary btn-small", style: "font-weight:bolder;margin-top:15px;width:100%" %>
        </div>

      </div>
    </div>
  </div>


  <div class="container user-content">
    <div class="row">
         <div class="row">


                <div class="col-lg-12">
          <h1 class="page-header">Courses You Have Subscribed To</h1>
        </div>
            <% current_user.subscriber_relationships.each do |subscription| %>
                  <% count = 0 %>
                  <% subscription.course.exercises.each do |exercise|  %>
                   <% if exercise.complete?(current_user) != nil %> 
                    <% count += 1 %>
                    <% end %>
                  <% end %>
              <div class="post">
             <div class="post-title">
                  <%= link_to subscription.course.title, course_path(subscription.course) %>  <span style="color:#999;font-size:20px">(<%= (count.to_f / subscription.course.exercises.count)*100  %>% complete)</span>

                </div>
                Created by <%= subscription.course.creator.first_name %> <%= subscription.course.creator.last_name %>
              

      <div class="progress" style="height:40px;max-width:485px">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= (count.to_f / subscription.course.exercises.count)*100  %>%;">
            <span class="sr-only">60% Complete</span>
          </div>
      </div>

      </div>

            <% end %>




      
        <div class="col-lg-12">
          <h1 class="page-header">Courses You Have Created</h1>
        </div>

        <% current_user.courses.each do |course| %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="<%= course_path(course) %>"><img class="img-responsive" style="height:187px;width:200px" src="<%= course.image %>">
              <h3><%= course.title %></h3>
              

          <div class="row">
            <div class="col-md-12">
            <small><%= truncate(course.description, length: 150) %></small>
              <div class="row">
                <div class="col-md-6">
                <%= course.subscribers.count %> subscribers
                </div>
                <div class="col-md-6">
                <%= course.creator.first_name %> <%= course.creator.last_name %>
                </div>
              </div>
            </div>
          </div>
            </a>
          </div>


        <% end %>


</div>

    </div>
  </div>

</div>