<div class="profile-page"> <!-- page container -->

  <div class="user-banner" style="background:#7ca1e8">

  </div>

  <div class="user-row">
    <div class="container">
      <div class="row bar-height-lock">

        <div class="col col-lg-2 col-offset-1">
          <div class="prof-pic-holder">
            <img alt="Def 160" src="http://static.thinkster.io/assets/def-160-e47d0c2a75231777133d120c94b9e5e6.png" />
          </div>
        </div>

        <div class="col col-lg-4">
          <div class="full-name">
            <%= current_user.first_name %>
            <%= current_user.last_name %>
          </div>

          <div class="mini-bio">
            <%= current_user.description %>
          </div>

          <div class="social-links">
            <i class="wic-twitter" href="<%= current_user.twitter_profile %>"></i>
            <i class="wic-facebook-squared" href="<%= current_user.facebook_profile %>"></i>
          </div>
          
        </div>

        <div class="col col-lg-2">
          <form action="/profile" class="button_to" method="get"><div>
          <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-primary btn-small", style: "font-weight:bolder;margin-top:15px;width:100%" %>
        </div>

      </div>
    </div>
  </div>


  <div class="container user-content">
    <div class="row">
      <div class="col col-lg-10 col-offset-1">



            <div class="post">
              <a href="/pick/GUIDJbpIie/angularjs-tutorial-learn-to-build-modern-web-apps">
                <div class="post-title">
                  AngularJS Tutorial: Learn to Build Modern Web Apps  <span style="color:#999;font-size:20px">(4% complete)</span>
                </div>
                <div class="post-body">
                  <div class="progress" style="height:40px;max-width:485px">
                    <div class="progress-bar progress-bar-success" style="width: 4.301075268817205%;"></div>
                  </div>
                </div>
              </a>
            </div>



      </div>
    </div>
  </div>

</div>