  <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header"><%= @user.first_name %> <%= @user.last_name %> <small><%= @user.description %></small></h1>
          
          
        
        </div>

      </div>

      <div class="row">

        <% @user.courses.each do |course| %>
          <div class="col-md-4 portfolio-item">
            <a href="<%= course_path(course) %>"><img class="img-responsive" src="<%= course.image %>" style="width:200px;height:200px"></a>
            <h3><a href="<%= course_path(course) %>"><%= course.title %></a></h3>
            <p><%= course.description %></p>
          </div>
        <% end %>

      </div>

      <hr>

    <!--   <div class="row text-center">
        
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>        
        </div>

      </div> -->

    </div><!-- /.container -->