   <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Resourcer</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="<%= user_path(current_user) %>">My Courses</a>
        </li>
        <li>
          <a href="<%= users_path %>">Curators</a>
        </li>
        <li>
          <a href="<%= new_course_path %>">Add Course</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Profile', user_profile_path, class: 'btn' %></li>
        <li>
          <% if logged_in? %>
          <%= link_to 'Logout', "/sessions/1", :method => :delete, class: 'btn' %>
          <% else %>
          <%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary' %>
          <%= link_to 'Sign In', [:new, :session], class: 'btn btn-success' %>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>