 <div class="author-wrap">

            <div class="name">

              <div class="img-wrap">
                <a href="<%= user_path(current_user) %>">
                  <img alt="Thumb large" class="user-pic" src="<%= current_user.image %>" />
                </a>
                <div style="clear:both"></div>
              </div>

              
              <span class="name-full">
                <a href="<%= user_path(current_user) %>">
                  <%= current_user.first_name %> <%= current_user.last_name %>
                </a>
              </span>
              

              <div class="mini-bio">
                <%= @course.user.description %>
              </div>
              


            </div>

            <div class="alert alert-warning sub-wrapper">
              <p>
                <strong>
                    Learn everything about AngularJS.
                </strong>
              </p>
              <p style="font-size:12px">
                There's more coming - enter your email and stay in the loop!
              </p>

              <form accept-charset="UTF-8" action="/sign_up_list" class="subform" id="new_sign_up_list" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="kEhzKnBmiqm5iirtJ8Ej/jHQVVjc2uBtVkbtHwlOje8=" /></div>
                <input class="input-small sub-input-txt" id="sign_up_list_email" name="sign_up_list[email]" placeholder="you@hello.com" type="email" />
                <button type="submit" class="btn btn-primary btn-small sub-input-btn" name="commit">Submit</button>
              </form>
            </div>

            <div class="share-box">
              <a href="<%= @course.user.twitter_profile %>" class="" target="_blank">
                <i class="wic-twitter"></i> Tweet this
              </a>

              <a href="<%= @course.user.facebook_profile %>">
                <i class="wic-facebook-squared"></i>Share on Facebook
              </a>
            </div>

            <div class="clear-all"></div>

          </div>