
  <div class="side-float" data-spy="affix">

  <% if current_user.subscribed?(@course) %>
    <%= form_for(current_user.subscriber_relationships.find_by(course_id: @course.id), html: { method: :delete }) do |f| %>
      <%= f.submit "Unfollow Course", class: "btn btn-primary", style: "font-weight:bolder;width:152px;margin-bottom:20px" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build(course_id: @course.id, subscriber_id: current_user.id)) do |f| %>
      <div><%= f.hidden_field :subscriber_id %></div>
      <div><%= f.hidden_field :course_id %></div>
      <%= f.submit "Follow Course", class: "btn btn-primary", style: "font-weight:bolder;width:152px;margin-bottom:20px;background:lightgreen" %>
    <% end %>
  <% end %>

  <% if current_user == @course.creator %>
  <a class="btn btn-primary" style="font-weight:bolder;width:152px;margin-bottom:20px" href="<%= new_course_lesson_path(@course) %>">+ Add Lesson</a>
  <% end %>

   <% count = 0 %>
        <% @course.exercises.each do |exercise|  %>
         <% if exercise.complete?(current_user) != nil %> 
          <% count += 1 %>
          <% end %>
        <% end %>
        <%#= count.to_f  %>
        <%#= @course.exercises.count  %>
        <%#= (count.to_f / @course.exercises.count)*100  %>

      <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= (count.to_f / @course.exercises.count)*100  %>%;">
            <span class="sr-only">60% Complete</span>
          </div>
      </div>

  <div class="bs-sidebar">
    <ul class="nav bs-sidenav">

    <% @lessons.each do |lesson| %>
      <li>
        <a href="#item-<%= lesson.title %>-<%= lesson.id %>"><%= lesson.title %></a>
        <ul class="nav">
          <% lesson.exercises.each do |exercise| %>
            <li><a href="#item-<%= exercise.title %>-<%= exercise.id %>"><%= exercise.title %></a></li>    
          <% end %>
        </ul>
      </li>
    <% end %>
          
    </ul>
  </div>

</div><!-- /side-float -->