
   <div class="side-float" data-spy="affix">

            <a class="btn btn-primary" style="font-weight:bolder;width:152px;margin-bottom:20px" href="http://gum.co/SUry" target="_blank">Support us!
              <div style="margin-top:5px;white-space: normal;font-size:12px;font-weight:normal;line-height:1.1em">Buy the eBook &amp; source code for only <strong>$25!</strong>
              </div>
            </a>



   <div class="progress" style="height:25px">
      <div class="progress-bar progress-bar-success"></div>
    </div>

<!-- make this dynamic -->
<!-- loop through lessons, each lesson needs a reference id -->
<!-- loop through exercises, each exercise needs a reference id -->
<!-- if there are exercises, put them in a ul with class nav -->

  <div class="bs-sidebar">
    <ul class="nav bs-sidenav">

    <% @lessons.each do |lesson| %>
      <li>
        <a href="#item-<%= lesson.title %>-<%= lesson.id %>"><%= lesson.title %></a>
        <ul class="nav">
          <% lesson.exercises.each do |exercise| %>
            <li><a href="#item-<%= exercise.title %>-<%= exercise.id %>"><%= exercise.title %></a></li>    
          <% end %>
        </ul>
      </li>
    <% end %>

      <li>
        <a href="#item-201">Introduction</a>
        <ul class="nav">
          <li><a href="#item-202">Source code and PDF eBook</a></li>
          <li><a href="#item-203">Prerequisites</a></li>
          <li><a href="#item-204">The Stack</a></li>
          <li><a href="#item-205">What is fantasy football?</a></li>
          <li><a href="#item-206">Makeup of a fantasy team</a></li>
          <li><a href="#item-207">Active Roster</a></li>
          <li><a href="#item-208">Bench</a></li>
          <li><a href="#item-209">Recap</a></li>
        </ul>
      </li>
      <li>
        <a href="#item-100">Getting Started With Firebase</a>
        <ul class="nav">
          <li><a href="#item-101">What Am I Actually Dealing With Here?</a></li>
          <li><a href="#item-102">App Directory</a></li>
          <li><a href="#item-103">Bower</a></li>
          <li><a href="#item-104">Getting Into AngularJS</a></li>
          <li><a href="#item-105">Authentication with Firebase</a></li>
          <li><a href="#item-106">The User Model</a></li>
          <li><a href="#item-107">Firebase Data</a></li>
          <li><a href="#item-108">Firebase Forge</a></li>
          <li><a href="#item-109">Security and Permissions with Firebase</a></li>
        </ul>
      </li>
          
    </ul>
  </div>

</div><!-- /side-float -->