
  <div class="side-float" data-spy="affix">

  <a class="btn btn-primary" style="font-weight:bolder;width:152px;margin-bottom:20px" href="<%= new_course_lesson_path(@course) %>">+ Add Lesson</a>

  <div class="progress" style="height:25px">
    <div class="progress-bar progress-bar-success"></div>
  </div>

  <div class="bs-sidebar">
    <ul class="nav bs-sidenav">

    <% @lessons.each do |lesson| %>
      <li>
        <a href="#item-<%= lesson.title %>-<%= lesson.id %>"><%= lesson.title %></a>
        <ul class="nav">
          <% lesson.exercises.each do |exercise| %>
            <li><a href="#item-<%= exercise.title %>-<%= exercise.id %>"><%= exercise.title %></a></li>    
          <% end %>
        </ul>
      </li>
    <% end %>
          
    </ul>
  </div>

</div><!-- /side-float -->