  <div id="content-area" class="picka-app" data-snap-ignore="true">
    <div id="ca-click-catch"></div>
    
    <script>
    user_loggedin = true;
    </script>

<div class="pick-page"> 
  <div class="container"><!-- page container -->
    <div class="row">
      <div class="col col-lg-2 visible-lg">
        <div class="push-top"></div>
        <div class="sidebar-wrap">
          <%= render "shared/profile" %>  
          <%= render "shared/sidebar" %>
        </div>
      </div>


        <!-- pick content -->
        <div class="col col-lg-8 pick-content">
          <div class="push-top"></div>
          <h1><%= @course.title %> </h1>
          <% if @course.creator == current_user  %>
           <%= link_to "Edit Course", edit_course_path(@course) %>
          <% end %>
          <br>          

          <% @lessons.each do |lesson| %>

          <div id="item-<%= lesson.title %>-<%= lesson.id %>" class="item-wrap">

            <div class="content-wrapper">
              <h3><%="#{lesson.title}" %></h3><%= link_to "Edit Lesson", edit_course_lesson_path(@course, lesson) %>
              <%#= link_to "#{lesson.title}", course_lesson_path(@course, lesson) %>
            </div>
          </div>

            <% if lesson.exercises[0] != nil %>
              <% lesson.exercises.each do |exercise| %>
                <div id="item-<%= exercise.title.strip %>-<%= exercise.id %>" class="item-wrap">

                
            <% unless current_user == @course.creator %>
            <% if exercise.complete?(current_user) %>
              <%= form_for(current_user.completeds.find_by(exercise_id: exercise.id), html: { method: :delete }) do |f| %>
                <%= f.submit "Uncomplete Exercise", class: "btn btn-primary", style: "font-weight:bolder;width:152px;margin-bottom:20px;background:#3498DB" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.completeds.build(user_id: current_user.id, exercise_id: exercise.id)) do |f| %>
                <div><%= f.hidden_field :user_id %></div>
                <div><%= f.hidden_field :exercise_id %></div>
                <%= f.submit "Complete Exercise", class: "btn btn-primary", style: "font-weight:bolder;width:152px;margin-bottom:20px;background:#2ECC71" %>
              <% end %>
            <% end %>
            <% end %>


            <%# if exercise.id % 3 == 0 %>
             <!--  <div class="task-wrapper">
                <div class="task-box cbox-trigger completed">
                  <div class="mark animated bounceIn">
                    <i class="wic-ok"></i>
                  </div>
                </div>
              </div>
            <%# else %>
              <div class="task-wrapper">
                <div class="task-box cbox-trigger" data-original-title="" title="">
                  <div class="mark">
                    <i class="wic-ok"></i>
                  </div>
                </div>
              </div> -->
            <%# end %>

    



                  <div class="content-wrapper">
                    <h3><%= exercise.title %></h3>  <%= link_to "Edit Exercise", edit_course_lesson_exercise_path(@course, lesson, exercise) %>
                  </div>
                </div>

                <div id="#" class="item-wrap">
                  <div class="content-wrapper">
                    <p><%= exercise.body %></p>
                  </div>
                </div>
                
              <% end %>    
            <% end %>  
          
          <% end %>
        </div>
        <!-- pick content -->

  </div>

</div><!-- /container -->

  <div class="dome">&nbsp;</div>


  </div>

