  <div id="content-area" class="picka-app" data-snap-ignore="true">
    <div id="ca-click-catch"></div>
    
    <script>
    user_loggedin = true;
    pick_id = '526c4f970717fc4a8f000056';
    totalitems = 74;
    completed_items = [];
    </script>

<div class="pick-page"> 
  <div class="container"><!-- page container -->
    <div class="row">
      <div class="col col-lg-2 visible-lg">
        <div class="push-top"></div>
        <div class="sidebar-wrap">
          <%= render "shared/profile" %>  
          <%= render "shared/sidebar" %>
        </div>
      </div>


        <!-- pick content -->
        <div class="col col-lg-8 pick-content">
          <div class="push-top"></div>
          <h1><%= @course.title %></h1>
          <br>
          

          <% @lessons.each do |lesson| %>

          <div id="item-<%= lesson.title %>-<%= lesson.id %>" class="item-wrap">
            <div class="content-wrapper">
              <h1><%= link_to "#{lesson.title}", course_lesson_path(@course, lesson) %></h1>
            </div>
          </div>

            <% if lesson.exercises[0] != nil %>
              <% lesson.exercises.each do |exercise| %>
                <div id="item-<%= exercise.title %>-<%= exercise.id %>" class="item-wrap">
                  <div class="content-wrapper">
                    <h2><%= exercise.title %></h2>
                  </div>
                </div>

                <div id="#" class="item-wrap">
                  <div class="content-wrapper">
                    <p><%= exercise.body %></p>
                  </div>
                </div>
                
              <% end %>    
            <% end %>  
          
          <% end %>
        </div>
        <!-- pick content -->

  </div>

</div><!-- /container -->

  <div class="dome">&nbsp;</div>


  </div>

