  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <div class="form-actions">
    <%= f.submit 'Create an exercise', class: 'btn btn-primary btn-large', style: "font-weight:bolder; width:100%;margin-top:20px" %>
  </div>