<h1>Exercises#edit</h1>
<p>Find me in app/views/exercises/edit.html.erb</p>


<br>
<br>
<br>
<br>
<br>

<h1>Exercise for <%= @lesson.title %></h1>

<%= form_for [@lesson, @exercise] do |f| %>
  
  <%= render 'shared/form_errors', :f => f %>
  
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <div class="form-actions">
    <%= f.submit 'Create Now', :class => 'btn' %>
  </div>

<% end %>