<!DOCTYPE html>
<html>
<head>
  <title>PersonalWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

        <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-error">
            <%= flash[:alert] %>
          </div>
        <% end %>


<%= yield %>


    </div>
  </div>
</div>

<%= debug params %>

</body>
</html>
